body {
    margin: 0;
    padding: 0;
    font-family: Consolas, Menlo, DejaVu Sans Mono, Courier, Courier New;
    background-color: #282c34;
    color: #abb2bf;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    min-width: 20%;
    overflow: auto;
    box-sizing: border-box;
    background-color: #21252b;
}

.side-list {
    list-style: none;
    padding:0;
    margin: 0;
    height: 100%;
}

.side-item {
    cursor: pointer;
    padding-top: 0.65em;
    padding-bottom: 0.65em;
    padding-left:1.5em;
    padding-right: 1.5em;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    color: #ffffff;
    font-size: 14px;
}

.side-item.active-item {
  background-color: #222;
  font-weight: bold;
}

.side-item:hover {
    cursor: pointer;
    background-color: #333;
    font-size: 14px;
}

.tab-bar {
    position: absolute;
    left: 20%;
    right: 0;
    top: 0;
    height: 50px;
    background-color: #21252b;
    border-bottom: 1px solid #abb2bf;
    display: flex;
    justify-content: space-between;
}

.tab-list {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0;
}

.tab {
    list-style: none;
    width: 150px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 15px 15px 0 0;
    background-color: #24282f;
    justify-content: space-between;
  }

.active-tab {
    background-color: #282c34;
    font-weight: bold;
    color: #ffffff;
  }

.editor {
    position: absolute;
    left: 20%;
    right: 0;
    top: 50px;
    bottom: 0;
    background-color: #282c34;
    overflow: auto;
    padding: 0px 25px 25px 25px;
}

.upload-btn {
    position: relative;
    margin-right: 1.5rem;
    margin-top: 0.5rem; 
    margin-bottom: 0.5rem;
    background-color: #1e8cb4; 
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
}

.bottomBar {
    position:fixed;
    z-index: 99999;
    background-color: #121416;
    height: 1.5em;
    width: 100%;
    bottom: 0px;
    display: flex;
}


.accentBar {
    position:relative;
    z-index: 99999;
    background-color: #1e8cb4;
    height: 1.5em;
    width: 10%;
    bottom: 0px;
    color: white;
    padding-left: 1.0em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}